DATABASE_URL="postgres://username:password@host:port/database?sslmode=require"
AUTH_SECRET="your-auth-secret-key-here"
RESEND_API_KEY=re_your_resend_api_key_here
EMAIL_FROM="admin@yourdomain.com"
EMAIL_TO="admin@yourdomain.com"
LOG_LEVEL=info

#supabase files bucket
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_BUCKET=your-bucket-name
MAX_FILE_SIZE=5242880
ALLOWED_MIME_TYPES=image/jpeg,image/png,image/gif,application/pdf

#Stripe Payment
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
# Stripe Hook BetterAuth
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret_here
# Stripe App genric hook
#STRIPE_APP_WEBHOOK_SECRET=whsec_your_stripe_app_webhook_secret_here

NEXT_PUBLIC_STRIPE_CHECKOUT_TYPE=EmbededForm
#NEXT_PUBLIC_STRIPE_CHECKOUT_TYPE=EmbededForm/ExternalForm/ReactStripeForm/PaymentLink

#Auth
BETTER_AUTH_SECRET="your-better-auth-secret-key-here"
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_CHANGE_PASSWORD=true
NEXT_PUBLIC_BETTER_AUTH_CHANGE_EMAIL=true
NEXT_PUBLIC_BETTER_AUTH_REQUIRE_EMAIL_VERIFICATION=true
NEXT_PUBLIC_BETTER_AUTH_2FA_ENABLE=true
NEXT_PUBLIC_BETTER_AUTH_2FA_SKIP_VERIFICATION_ON_ENABLE=true
NEXT_PUBLIC_BETTER_AUTH_TOKEN_MANAGEMENT=true
GOOGLE_CLIENT_ID="your-google-client-id-here"
GOOGLE_CLIENT_SECRET="your-google-client-secret-here"
NEXT_PUBLIC_BILLING_MODE=organization
NEXT_PUBLIC_AUTH_METHODS="credential,magiclink,google,apple,github"